<table class="table">

  <h3>
    Producto
  </h3>

  <%= render 'partials/products/table/headers' %>

  <tbody>
    <%= render 'partials/products/table/row', product: product %>
  </tbody>
</table>

<% if equivalents.length > 0 %>
  <h3>
    Bioequivalentes
  </h3>

  <table class="table">
    <%= render 'partials/products/table/headers' %>

    <tbody>
      <% equivalents.each do |e| %>
	<%= render 'partials/products/table/row', product: e %>
      <% end %>
    </tbody>
  </table>
<% end %>
