<table class="table">

  <%= render 'partials/products/table/headers' %>

  <tbody>
    <%= render 'partials/products/table/row', product: product %>
  </tbody>
</table>

<h4>
  Bioequivalentes
</h4>

<table class="table">
  <%= render 'partials/products/table/headers' %>

  <tbody>
    <% equivalents.each do |e| %>
      <%= render 'partials/products/table/row', product: e %>
    <% end %>
  </tbody>
</table>
