<table class="table">
  <thead>
    <th>
      Producto
    </th>

    <th>
      Cantidad
    </th>

    <th>
      Motivo
    </th>

    <th>
      Sucursal
    </th>

    <th>
      Fecha
    </th>

    <th>
      Editar
    </th>

    <th>
      Eliminar
    </th>



</thead>
  <tbody>
    <% wastes.each do |waste| %>
      <%= render 'partials/wastes/table/row', waste: waste %>
    <% end %>
  </tbody>
</table>
