<table class="table">
  <thead>
    <th>
      Producto
    </th>

    <th>
      Cantidad
    </th>

    <th>
      Descripcion
    </th>
    
    <th>
      Motivo
    </th>
    
    <th>
      Sucursal
    </th>
    
    <th>
      Fecha
    </th>



</thead>
  <tbody>
    <div id="search_wastes_result">
      
    </div>
  </tbody>
</table>

