<div class="panel panel-default">
  <div class="panel-heading">
  </div>

  <table class="table">
    <thead>
      <th>
 Codigo
      </th>

      <th>
	Nombre
      </th>

      <th>
	Laboratorio
      </th>

      <th>
        Presentacion
      </th>

      <th>
  Precio Venta
      </th>

      <th>
  Cantidad
      </th>

      <th>
  Total Inventario
      </th>

      <th>
  ISP
      </th>

      <th>
  BE
      </th>
    </thead>
    <tbody>
      <% @inventories.each do |inv| %>
      <tr>
        <td>

        </td>

        <td>

        </td>

       <td>
        </td>

        <td>

        </td>

        <td>

        </td>

        <td>
          <%= inv.stock %>
        </td>

        <td>
          <%= inv.total %>
        </td>

        <td>

        </td>

        <td>
          
        </td>

      <%end%>
    </tr>
  </tbody>
  </table>
</div>
