<div class="panel panel-default">
  <div class="panel-heading">
    Historial de cajas
  </div>

  <div class="panel-body">
    <table class="table">
      <thead>
	<th>
	  Vendedor
	</th>

	<th>
	  Monto inicial
	</th>

	<th>
	  Monto final
	</th>
      </thead>

      <tbody>
	<% @box_movements.each do |bm| %>
	  <tr>
	    <td>
	      <%= link_to bm.user.name, user_path(bm.user) %>
	    </td>

	    <td>
	      $<%= bm.start_amount %>
	    </td>

	    <td>
	      $<%= bm.final_amount %>
	    </td>
	  </tr>
	<% end %>
      </tbody>
    </table>
  </div>
</div>
