<div class="panel panel-default">
  <div class="panel-body">
    Vendedor: <%= @box_movement.user.name %>

    <br>

    Fecha apertura: <%= @box_movement.start_date %>

    <br>

    Monto Apertura: <%= @box_movement.start_amount %>
  </div>
</div>
