<div class="panel panel-default">
  <div class="panel-heading">
    </div>


<tr>
  <td>
    <%= product.name %>
  </td>
</tr>



    <div class="panel-body">
      <%= @medicinal_ingredient.name %>
    </div
</div>