<div class="panel panel-default">
  <div class="panel-heading">
  </div>

  <table class="table">
    <thead>
      <th>
 Codigo
      </th>

      <th>
	Nombre
      </th>

      <th>
	Presentacion
      </th>

      <th>
  Precio anterior
      </th>

      <th>
  Precio nuevo
      </th>

      <th>
  Fecha modificacion
      </th>

    </thead>
    <tbody>
    </tbody>
  </div>
