<div class="panel panel-default">
  <div class="panel-heading">
    Usuario
  </div>

  <div class="panel-body">

    Nombre: <%= @user.name %>

    <br>

    Rut: <%= @user.rut %>

    <br>

    Ultimo inicio sesion: <%= @user.last_sign_in_at %>

    <br>

    <%= link_to 'Editar', edit_user_path(@user) %>
  </div>
</div>
