<% if object.errors.any? %>
  <div class="alert alert-danger">
    <%= pluralize(object.errors.count, "errors") %>

    <ul>
      <% object.errors.full_messages.each do |message| %>
	<li>
	  <%= message %>
	</li>
      <% end %>
    </ul>
  </div>
<% end %>
