<div class="panel panel-default">
  <div class="panel-heading">
    Buscar Merma
  </div>

  <div class="panel-body">
    <%= form_tag(search_wastes_path, method: :get, remote: true) do %>
      <%= autocomplete_field_tag :search_waste_field, '', autocomplete_waste_product_id_wastes_path %>
      <%= submit_tag('Buscar', class: 'btn btn-default') %>
    <% end %>
    
    
    <div id="search_waste_result">
    </div>
  </div>
</div>
