<tr>
  <td>
    <%= dose.kind %>
  </td>

  <td>
    <%= dose.quantity %>
  </td>
  
  <td>
      <%= hidden_field_tag(:search_dose_field, dose.kind) %>
      <%= button_tag '', type: 'submit', class: 'glyphicon glyphicon-ok' %>
  </td>

</tr>
