<%= render 'partials/doses/table', doses: [@dose] %>

<div class="panel panel-default">
  <div class="panel-heading">
    Dosis
    </div>

    <div class="panel-body">
      <%= @dose.kind %>
      <%= @dose.quantity %>
    </div>
</div>

