<div class="panel panel-default">
  <div class="panel-heading">
    Usuario
  </div>

  <div class="panel-body">
    Rut: <%= @user.rut %>

    <br>

    Ultimo inicio sesion: <%= @user.last_sign_in_at %>
  </div>
</div>
