<div class="panel panel-default">
  <div class="panel-heading">
  </div>

  <table class="table">
    <thead>
      <th>
	Producto
      </th>

      <th>
	Principio activo
      </th>

      <th>
	Stock Actual
      </th>

      <th>
	Stock minimo
      </th>

      <th>
  Precio compra
      </th>
    </thead>
  <tbody>
  <% @products.each do |ls| %>
  </tbody>

  </table>
