<tr>
     
  <td>
    <%= medicinal_ingredient.name %>
  </td>

  
  <td>
    <%= link_to 'Editar', edit_medicinal_ingredient_path(medicinal_ingredient) %>
  </td>
  
  <td><%= link_to 'Eliminar', medicinal_ingredient_path(medicinal_ingredient),
              method: :delete,
              data: { confirm: 'Estas Seguro?' } %>
  </td>

</tr>
