<table class="table">
  <thead>
    <th>
      Nombre
    </th>

    <th>
      Rut
    </th>

    <th>
      Nombre Empresa
    </th>
    
    <th>
      Direccion
    </th>
    
    <th>
      Numero contacto 1
    </th>
    
    <th>
      Numero contacto 2
    </th>
    
    <th>
      Mail
    </th>

  </thead>

  <tbody>
    <% for provider in providers do %>
	    <%= render 'partials/providers/table/row', provider: provider %>
    <% end %>
  </tbody>
</table>


  

  