<tr>

  <td>
    <%= category.description %>
  </td>
  
  <td>
      <%= hidden_field_tag(:search_category_field, category.description) %>
      <%= button_tag '', type: 'submit', class: 'glyphicon glyphicon-ok' %>
  </td>

</tr>
