<div class="panel panel-default">
  <div class="panel-heading">
    Categorias
    </div>
    <div class="panel-body">
          Descripcion
          </div>
      
            <p>
              <%= @category.categories_id %>
            </p>
            <p>
              <%= @category.description %>
            </p>
        


      </p>
    </div>
</div>
