<div class="panel panel-default">
  <div class="panel-heading">
    Venta
  </div>

  <table class="table">
    <thead>
      <th>
	#
      </th>

      <th>
	Fecha
      </th>

      <th>
	Vendedor
      </th>

      <th>
      </th>
    </thead>
  </table>
</div>
