<div class="panel panel-default">
  <div class="panel-heading">
    Buscar productos
  </div>

  <div class="panel-body">
    <%= form_tag(search_products_path, method: :get, remote: true) do %>
      <%= autocomplete_field_tag :product_name, '', autocomplete_product_name_products_path, autofocus: true %>
      <%= submit_tag('Buscar', class: 'btn btn-default') %>
    <% end %>

    <div id="search_product_result">
    </div>
  </div>
</div>

<script>
 $(document).ready(function() {
   $('#product_name').change(function() {
     var input = this;
     var query = $(input).val();

     setTimeout(
       function() {
	 var query_now = $(input).val();

	 if (query !== query_now) {
	   return;
	 }

	 $.ajax({
	   url: "<%= search_products_path %>",
	   method: "GET",
	   data: { product_name: query_now },
	   success: eval
	 });
       },
       100)
   });
 });
</script>
