<div class="panel panel-default">
  <div class="panel-heading">
    Buscar productos
  </div>

  <div class="panel-body">
    <%= form_tag(search_products_path, method: :get, remote: true) do %>
      <%= autocomplete_field_tag :search_product_field, '', autocomplete_product_name_products_path %>
      <%= submit_tag('Buscar', class: 'btn btn-default') %>
    <% end %>

    <div id="search_product_result">
    </div>
  </div>
</div>
