<div class="panel panel-default">
<style>
table {
    border-collapse: collapse;
    width: 100%;
    height: 50px;
}
table, th, td {
  border: 1px solid black;
  font-family: "Times New Roman", Times, serif;
}
th{
    font-size: 14px;
    height: 50px;
    background-color: #A9A9A9;
}
tr{
  page-break-inside: avoid;
}
td{
  font-size: 12px;
  text-align: left;
  vertical-align: bottom;
}
</style>
  <div class="panel-heading">
  </div>

  <table class="table">
      <thead>
        <th>
 Principio activo
      </th>

      <th>
	Nombre
      </th>

      <th>
	Presentacion
      </th>

      <th>
  Precio por unidad
      </th>

      <th>
  BE
  </th>
    </thead>
    <tbody>
      <% @products.each do |pr| %>
      <tr>
        <td>
        <%=  pr.principles.first.name %>
        </td>

        <td>
        <%= pr.name  %>
        </td>

       <td>
        <%= pr.presentation.name %>
        </td>

        <td>
      <%=  pr.sale_price  %>
        </td>

        <td>
        <% if pr.be %>
        Si
        <% else %>
        No
        <%end %>
      </td>

      <%end%>
    </tr>

  </tbody>
  </table>
  </div>
