<%#= render 'partials/products/table', products: [@product] %>

<div class="panel panel-default">
  <div class="panel-heading">
    Descripcion
    </div>

    <div class="panel-body">
      <%#= @product.description %>
    </div
</div>
