<table class="table">
  <thead>
    <th>
      Tipo
    </th>

    <th>
      Cantidad
    </th>

  </thead>

  <tbody>
    <% for dose in doses do %>
	    <%= render 'partials/doses/table/row', dose: dose %>
    <% end %>
  </tbody>
</table>
