<table class="table">
  
  <thead>
    <th>
      Nombre
    </th>
  </thead>

  <tbody>
    <% for medicinal_ingredient in medicinal_ingredients do %>
	    <%= render 'partials/medicinal_ingredients/table/row', medicinal_ingredient: medicinal_ingredient %>
    <% end %>
  </tbody>
</table>
